{% extends "crud/base.html" %}
{% block title %}사용자 목록보기{% endblock %}
{% block content %}

<div class="jumbo">
    <h2>사용자 목록보기 </h2>
</div>

<!-- 목록 출력 -->
<table>
    <tr>
        <th>사용자 ID</th>
        <th>사용자명</th>
        <th>메일 주소</th>
    </tr>
    {% for user in users %}
    <tr>
        <!-- 수정작업 -->
        <td><a href="{{ url_for('crud.edit_user', user_id=user.id) }}">{{ user.id }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>

<!-- 추가1 -->
<!-- crud.create_user 인데 왜 crud/users/new 로 지정된 것은
     views.py 에서 /users/new 요청의 엔드포인트는 자동으로 함수명인 create_user가 된다
     [콘솔에서 확인] flask routes
-->
<a href="{{ url_for('crud.create_user') }}">사용자 등록</a>


{% endblock %}